name: build

on: [push, pull_request]

jobs:
  install:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Homebrew/actions/setup-homebrew@master
      - run: |
          brew tap local/formulas $(pwd)
          for formula in $(brew formula | grep '^local/formulas/'); do
            brew install "$formula"
          done
  audit:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Homebrew/actions/setup-homebrew@master
      - run: brew audit --tap justintime50/formulas
