name: build

on: [push, pull_request]

jobs:
  install:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Homebrew/actions/setup-homebrew@master
      - run: |
          brew tap local/formulas $(pwd)
          for formula in Formula/*.rb; do
            name=$(basename "$formula" .rb)
            brew install "local/formulas/$name"
          done
  audit:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Homebrew/actions/setup-homebrew@master
      - run: brew audit --tap justintime50/formulas
